@model mvc_dotnet.Models.CreateProvoleModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Provole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="CinemasId" class="control-label">Cinema</label>
                <select asp-for="CinemasId" class ="form-control" asp-items="@ViewBag.CinemasId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MoviesName" class="control-label">Movies Name</label>
                <select asp-for="MoviesName" class="form-control" asp-items="@ViewBag.MoviesName"></select>

                <!--<input asp-for="MoviesName" class="form-control" />
                <span asp-validation-for="MoviesName" class="text-danger"></span> -->

            </div>
            <div class="form-group">
                <label asp-for="DatetimeColumn" class="control-label">Choose Date and Time of the Screening</label>
                <input asp-for="DatetimeColumn" class="form-control" type="datetime-local" />
                <span asp-validation-for="DatetimeColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentAdminId" class="control-label">Content Admins' Id</label>
                <select asp-for="ContentAdminId" class ="form-control" asp-items="@ViewBag.ContentAdminId"></select>
            </div> 
            
            
            <button type="submit" class="btn btn-primary">Create</button>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
