@model mvc_dotnet.Models.CreateProvoleModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Provole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="CinemasId" class="control-label"></label>
                <select asp-for="CinemasId" class="form-control" asp-items="@ViewBag.CinemasId"></select>
                <span asp-validation-for="CinemasId" class="text-danger"></span>
            </div> -->
            <input type="hidden" asp-for="CinemasId" />
            <input type="hidden" asp-for="MoviesId" />
            <input type="hidden" asp-for="MoviesName" /> 
            <div class="form-group">
                <label asp-for="DatetimeColumn" class="control-label">Change Date and Time of the Screening</label>
                <input asp-for="DatetimeColumn" class="form-control" type="datetime-local" />
                <span asp-validation-for="DatetimeColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentAdminId" class="control-label"></label>
                <select asp-for="ContentAdminId" class="form-control" asp-items="@ViewBag.ContentAdminId"></select>
                <span asp-validation-for="ContentAdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
