@model mvc_dotnet.Models.ContentAdmin

@{
    ViewData["Title"] = "Content Admin Home";
}

<div class="container mt-4">
    <h2>Welcome to the Content Admin Home Page, <span class="text-primary">@ViewData["Username"]</span>!</h2>
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    <p class="text-info">Explore other pages:</p>
    <ul class="list-group">
        <li class="list-group-item"><a class="text-decoration-none text-primary" asp-controller="ContentAdmins" asp-action="Create">Set your personal data, after log in..</a></li>
        <li class="list-group-item"><a class="text-decoration-none text-success" asp-controller="Movies" asp-action="Index">Available Movies</a></li>
        <li class="list-group-item"><a class="text-decoration-none text-warning" asp-controller="Movies" asp-action="Create">Add a movie to the main feed</a></li>
        <li class="list-group-item"><a class="text-decoration-none text-danger" asp-controller="Cinemas" asp-action="Index">Available Cinemas</a></li>
        <li class="list-group-item"><a class="text-decoration-none text-info" asp-controller="Cinemas" asp-action="Create">Add a new Cinema to the list</a></li>
        <li class="list-group-item"><a class="text-decoration-none text-secondary" asp-controller="Provoles" asp-action="Index">All available screenings at the moment</a></li>
        <li class="list-group-item"><a class="text-decoration-none text-primary" asp-controller="Provoles" asp-action="Create">Add a new screening</a></li>
        <li class="list-group-item"><a class="text-decoration-none text-danger" asp-controller="ContentAdmins" asp-action="Index">Your profile (Edit, Delete your inputs)</a></li>

    </ul>
</div>
